{% extends "index.html" %}

{% block title %} Profile of {{ name }} {% endblock %}

{% block content %}
    <h1>Tasks Completed by {{ name }} </h1>
    <div data-role="collapsible">
        <h3>{{ name }} has done {{ total }} tasks. </h3>
        <ul data-role="listview" data-inset="true" data-theme="d">
        <li> {{ name }} has done {{ interface }} user interface tasks. </li>
        <li> {{ name }} has done {{ code }} code tasks. </li>
        <li> {{ name }} has done {{ quality }} quality assurance tasks. </li>
        <li> {{ name }} has done {{ documentation }} documentation tasks. </li>
        </ul>
    </div>
    <table class="ui inverted table segment">
        <thead>
        <tr>
            <td>Title</td>
            <td>Type</td>
            <td>Org.</td>
        </tr>
        </thead>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ task[1] }}">{{ task[0] }}</a></td>
                <td>{{ task[2] }}</td>
                <td>{{ task[3] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
